:root {
  --typography-fontfamilies-lato: Lato;
  --typography-fontweights-lato-0: Black;
  --typography-fontweights-lato-1: Regular;
  --typography-fontsize-0: 40;
  --typography-fontsize-1: 32;
  --typography-fontsize-2: 28;
  --typography-fontsize-3: 24;
  --typography-fontsize-4: 20;
  --typography-fontsize-5: 16;
  --typography-fontsize-6: 22;
  --typography-fontsize-7: 20;
  --typography-fontsize-8: 16;
  --typography-fontsize-9: 14;
  --typography-fontsize-10: 12;
  --typography-fontsize-11: 22;
  --typography-fontsize-12: 20;
  --typography-fontsize-13: 16;
  --typography-fontsize-14: 14;
  --typography-fontsize-15: 12;
  --typography-fontsize-16: 11;
  --typography-fontsize-17: 9;
  --typography-lineheights-0: 48;
  --typography-lineheights-1: 40;
  --typography-lineheights-2: 40;
  --typography-lineheights-3: 40;
  --typography-lineheights-4: 32;
  --typography-lineheights-5: 24;
  --typography-lineheights-6: 32;
  --typography-lineheights-7: 32;
  --typography-lineheights-8: 24;
  --typography-lineheights-9: 24;
  --typography-lineheights-10: 20;
  --typography-lineheights-11: 32;
  --typography-lineheights-12: 32;
  --typography-lineheights-13: 24;
  --typography-lineheights-14: 24;
  --typography-lineheights-15: 20;
  --typography-lineheights-16: 16;
  --typography-lineheights-17: 12;
  --typography-letterspacing-0: 0;
  --typography-letterspacing-1: 0;
  --typography-letterspacing-2: 0;
  --typography-letterspacing-3: 0;
  --typography-letterspacing-4: 0;
  --typography-letterspacing-5: 0;
  --typography-letterspacing-6: 0;
  --typography-letterspacing-7: 0;
  --typography-letterspacing-8: 0;
  --typography-letterspacing-9: 0;
  --typography-letterspacing-10: 0;
  --typography-letterspacing-11: 0;
  --typography-letterspacing-12: 0;
  --typography-letterspacing-13: 0;
  --typography-letterspacing-14: 0;
  --typography-letterspacing-15: 0;
  --typography-letterspacing-16: 0;
  --typography-letterspacing-17: 0;
  --typography-paragraphspacing-0: 0;
  --typography-paragraphspacing-1: 0;
  --typography-paragraphspacing-2: 0;
  --typography-paragraphspacing-3: 0;
  --typography-paragraphspacing-4: 0;
  --typography-paragraphspacing-5: 0;
  --typography-paragraphspacing-6: 0;
  --typography-paragraphspacing-7: 0;
  --typography-paragraphspacing-8: 0;
  --typography-paragraphspacing-9: 0;
  --typography-paragraphspacing-10: 0;
  --typography-paragraphspacing-11: 0;
  --typography-paragraphspacing-12: 0;
  --typography-paragraphspacing-13: 0;
  --typography-paragraphspacing-14: 0;
  --typography-paragraphspacing-15: 0;
  --typography-paragraphspacing-16: 0;
  --typography-paragraphspacing-17: 0;
  --typography-textcase-none: none;
  --typography-textcase-uppercase: uppercase;
  --typography-textdecoration-none: none;
  --typography-headline-h1-fontfamily: Lato;
  --typography-headline-h1-fontweight: Black;
  --typography-headline-h1-lineheight: 48px;
  --typography-headline-h1-fontsize: 40px;
  --typography-headline-h1-letterspacing: 0px;
  --typography-headline-h1-paragraphspacing: 0px;
  --typography-headline-h1-paragraphindent: 0px;
  --typography-headline-h1-textcase: none;
  --typography-headline-h1-textdecoration: none;
  --typography-headline-h2-fontfamily: Lato;
  --typography-headline-h2-fontweight: Black;
  --typography-headline-h2-lineheight: 40px;
  --typography-headline-h2-fontsize: 32px;
  --typography-headline-h2-letterspacing: 0px;
  --typography-headline-h2-paragraphspacing: 0px;
  --typography-headline-h2-paragraphindent: 0px;
  --typography-headline-h2-textcase: none;
  --typography-headline-h2-textdecoration: none;
  --typography-headline-h3-fontfamily: Lato;
  --typography-headline-h3-fontweight: Black;
  --typography-headline-h3-lineheight: 40px;
  --typography-headline-h3-fontsize: 28px;
  --typography-headline-h3-letterspacing: 0px;
  --typography-headline-h3-paragraphspacing: 0px;
  --typography-headline-h3-paragraphindent: 0px;
  --typography-headline-h3-textcase: none;
  --typography-headline-h3-textdecoration: none;
  --typography-headline-h4-fontfamily: Lato;
  --typography-headline-h4-fontweight: Black;
  --typography-headline-h4-lineheight: 40px;
  --typography-headline-h4-fontsize: 24px;
  --typography-headline-h4-letterspacing: 0px;
  --typography-headline-h4-paragraphspacing: 0px;
  --typography-headline-h4-paragraphindent: 0px;
  --typography-headline-h4-textcase: none;
  --typography-headline-h4-textdecoration: none;
  --typography-headline-h5-fontfamily: Lato;
  --typography-headline-h5-fontweight: Black;
  --typography-headline-h5-lineheight: 32px;
  --typography-headline-h5-fontsize: 20px;
  --typography-headline-h5-letterspacing: 0px;
  --typography-headline-h5-paragraphspacing: 0px;
  --typography-headline-h5-paragraphindent: 0px;
  --typography-headline-h5-textcase: none;
  --typography-headline-h5-textdecoration: none;
  --typography-headline-h6-fontfamily: Lato;
  --typography-headline-h6-fontweight: Black;
  --typography-headline-h6-lineheight: 24px;
  --typography-headline-h6-fontsize: 16px;
  --typography-headline-h6-letterspacing: 0px;
  --typography-headline-h6-paragraphspacing: 0px;
  --typography-headline-h6-paragraphindent: 0px;
  --typography-headline-h6-textcase: none;
  --typography-headline-h6-textdecoration: none;
  --typography-body-regular-xl-fontfamily: Lato;
  --typography-body-regular-xl-fontweight: Regular;
  --typography-body-regular-xl-lineheight: 32px;
  --typography-body-regular-xl-fontsize: 22px;
  --typography-body-regular-xl-letterspacing: 0px;
  --typography-body-regular-xl-paragraphspacing: 0px;
  --typography-body-regular-xl-paragraphindent: 0px;
  --typography-body-regular-xl-textcase: none;
  --typography-body-regular-xl-textdecoration: none;
  --typography-body-regular-l-fontfamily: Lato;
  --typography-body-regular-l-fontweight: Regular;
  --typography-body-regular-l-lineheight: 32px;
  --typography-body-regular-l-fontsize: 20px;
  --typography-body-regular-l-letterspacing: 0px;
  --typography-body-regular-l-paragraphspacing: 0px;
  --typography-body-regular-l-paragraphindent: 0px;
  --typography-body-regular-l-textcase: none;
  --typography-body-regular-l-textdecoration: none;
  --typography-body-regular-m-fontfamily: Lato;
  --typography-body-regular-m-fontweight: Regular;
  --typography-body-regular-m-lineheight: 24px;
  --typography-body-regular-m-fontsize: 16px;
  --typography-body-regular-m-letterspacing: 0px;
  --typography-body-regular-m-paragraphspacing: 0px;
  --typography-body-regular-m-paragraphindent: 0px;
  --typography-body-regular-m-textcase: none;
  --typography-body-regular-m-textdecoration: none;
  --typography-body-regular-s-fontfamily: Lato;
  --typography-body-regular-s-fontweight: Regular;
  --typography-body-regular-s-lineheight: 24px;
  --typography-body-regular-s-fontsize: 14px;
  --typography-body-regular-s-letterspacing: 0px;
  --typography-body-regular-s-paragraphspacing: 0px;
  --typography-body-regular-s-paragraphindent: 0px;
  --typography-body-regular-s-textcase: none;
  --typography-body-regular-s-textdecoration: none;
  --typography-body-regular-xs-fontfamily: Lato;
  --typography-body-regular-xs-fontweight: Regular;
  --typography-body-regular-xs-lineheight: 20px;
  --typography-body-regular-xs-fontsize: 12px;
  --typography-body-regular-xs-letterspacing: 0px;
  --typography-body-regular-xs-paragraphspacing: 0px;
  --typography-body-regular-xs-paragraphindent: 0px;
  --typography-body-regular-xs-textcase: none;
  --typography-body-regular-xs-textdecoration: none;
  --typography-body-bold-xl-fontfamily: Lato;
  --typography-body-bold-xl-fontweight: Black;
  --typography-body-bold-xl-lineheight: 32px;
  --typography-body-bold-xl-fontsize: 22px;
  --typography-body-bold-xl-letterspacing: 0px;
  --typography-body-bold-xl-paragraphspacing: 0px;
  --typography-body-bold-xl-paragraphindent: 0px;
  --typography-body-bold-xl-textcase: none;
  --typography-body-bold-xl-textdecoration: none;
  --typography-body-bold-l-fontfamily: Lato;
  --typography-body-bold-l-fontweight: Black;
  --typography-body-bold-l-lineheight: 32px;
  --typography-body-bold-l-fontsize: 20px;
  --typography-body-bold-l-letterspacing: 0px;
  --typography-body-bold-l-paragraphspacing: 0px;
  --typography-body-bold-l-paragraphindent: 0px;
  --typography-body-bold-l-textcase: none;
  --typography-body-bold-l-textdecoration: none;
  --typography-body-bold-m-fontfamily: Lato;
  --typography-body-bold-m-fontweight: Black;
  --typography-body-bold-m-lineheight: 24px;
  --typography-body-bold-m-fontsize: 16px;
  --typography-body-bold-m-letterspacing: 0px;
  --typography-body-bold-m-paragraphspacing: 0px;
  --typography-body-bold-m-paragraphindent: 0px;
  --typography-body-bold-m-textcase: none;
  --typography-body-bold-m-textdecoration: none;
  --typography-body-bold-s-fontfamily: Lato;
  --typography-body-bold-s-fontweight: Black;
  --typography-body-bold-s-lineheight: 24px;
  --typography-body-bold-s-fontsize: 14px;
  --typography-body-bold-s-letterspacing: 0px;
  --typography-body-bold-s-paragraphspacing: 0px;
  --typography-body-bold-s-paragraphindent: 0px;
  --typography-body-bold-s-textcase: none;
  --typography-body-bold-s-textdecoration: none;
  --typography-body-bold-xs-fontfamily: Lato;
  --typography-body-bold-xs-fontweight: Black;
  --typography-body-bold-xs-lineheight: 20px;
  --typography-body-bold-xs-fontsize: 12px;
  --typography-body-bold-xs-letterspacing: 0px;
  --typography-body-bold-xs-paragraphspacing: 0px;
  --typography-body-bold-xs-paragraphindent: 0px;
  --typography-body-bold-xs-textcase: none;
  --typography-body-bold-xs-textdecoration: none;
  --typography-others-label-m-fontfamily: Lato;
  --typography-others-label-m-fontweight: Black;
  --typography-others-label-m-lineheight: 16px;
  --typography-others-label-m-fontsize: 11px;
  --typography-others-label-m-letterspacing: 0px;
  --typography-others-label-m-paragraphspacing: 0px;
  --typography-others-label-m-paragraphindent: 0px;
  --typography-others-label-m-textcase: uppercase;
  --typography-others-label-m-textdecoration: none;
  --typography-others-label-s-fontfamily: Lato;
  --typography-others-label-s-fontweight: Black;
  --typography-others-label-s-lineheight: 12px;
  --typography-others-label-s-fontsize: 9px;
  --typography-others-label-s-letterspacing: 0px;
  --typography-others-label-s-paragraphspacing: 0px;
  --typography-others-label-s-paragraphindent: 0px;
  --typography-others-label-s-textcase: uppercase;
  --typography-others-label-s-textdecoration: none;
  --core-spacing-0: 0px;
  --core-spacing-1: 4px;
  --core-spacing-2: 8px;
  --core-spacing-3: 12px;
  --core-spacing-4: 16px;
  --core-spacing-5: 24px;
  --core-spacing-6: 32px;
  --core-spacing-7: 40px;
  --core-spacing-8: 56px;
  --core-radius-radius: {Spacing.2};
}

[data-theme="light"] {
  --core-surface-light-light-120: #e4e4eb;
  --core-surface-light-light-100: #ebebf0;
  --core-surface-light-light-80: #f2f2f5;
  --core-surface-light-light-60: #fafafc;
  --core-surface-light-light-40: #fbfbfc;
  --core-surface-light-light-20: #ffffff;
  --brand-primary-primary-120: #1063cd;
  --brand-primary-primary-100: #186bdc;
  --brand-primary-primary-80: #4e93f1;
  --brand-primary-primary-60: #7aaef4;
  --brand-primary-primary-40: #d3e4fb;
  --brand-primary-primary-20: #f5f8ff;
  --complementary-green-green-120: #1d7b00;
  --complementary-green-green-100: #42a70b;
  --complementary-green-green-80: #73d52b;
  --complementary-green-green-60: #a7eb5e;
  --complementary-green-green-40: #d8fca4;
  --complementary-green-green-20: #ecf6e7;
  --complementary-red-red-120: #af001d;
  --complementary-red-red-100: #da0007;
  --complementary-red-red-80: #fe5d43;
  --complementary-red-red-60: #ff9a8a;
  --complementary-red-red-40: #ffcec6;
  --complementary-red-red-20: #ffe9e6;
  --complementary-yellow-yellow-120: #e6b800;
  --complementary-yellow-yellow-100: #ffcc00;
  --complementary-yellow-yellow-80: #fddd48;
  --complementary-yellow-yellow-60: #fded72;
  --complementary-yellow-yellow-40: #fff6b2;
  --complementary-yellow-yellow-20: #fffae6;
  --complementary-orange-orange-120: #b85200;
  --complementary-orange-orange-100: #ff8a00;
  --complementary-orange-orange-80: #fdac42;
  --complementary-orange-orange-60: #fccc75;
  --complementary-orange-orange-40: #ffe9c2;
  --complementary-orange-orange-20: #fff3e6;
  --semantic-light-mode-color-application-background-general-background-desktop-primary: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-application-background-general-background-desktop-secondary: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-application-background-general-background-mobile-primary: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-application-background-general-background-mobile-secondary: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-button-button-background-primary: {Brand.Primary.primary-100};
  --semantic-light-mode-color-button-button-text-primary: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-button-button-border-secondary: {Brand.Primary.primary-100};
  --semantic-light-mode-color-button-button-text-secondary: {Brand.Primary.primary-100};
  --semantic-light-mode-color-button-button-background-disabled: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-button-button-text-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-button-button-border-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-button-button-background-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-button-button-text-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-button-button-border-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-button-button-text-link: {Brand.Primary.primary-120};
  --semantic-light-mode-color-form-form-icon: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-form-label-text: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-form-form-placeholder: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-form-form-border: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-form-form-background: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-form-form-text: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-form-form-background-disabled: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-form-form-border-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-form-form-icon-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-form-datepicker-inner-label: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-form-form-background-invalid: {Complementary.Red.red-20};
  --semantic-light-mode-color-form-text-editor-background: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-form-text-editor-border: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-checkbox-checkbox-border: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-checkbox-checkbox-background: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-checkbox-checkbox-fill-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-checkbox-checkbox-border-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-checkbox-checkbox-border-disabled: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-checkbox-checkbox-background-disabled: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-checkbox-checkbox-fill-disabled: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-checkbox-checkbox-text-disabled: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-checkbox-checkbox-text-unselected: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-checkbox-checkbox-text-selected: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-toggle-toggle-fill: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-toggle-toggle-background-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-toggle-toggle-background-inactive: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-toggle-toggle-background-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-toggle-toggle-fill-disabled: {Core.Surface.Light.light-100};
  --semantic-light-mode-color-text-text-primary: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-text-text-secondary: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-text-text-teritary: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-text-heading-text-primary: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-text-heading-text-secondary: {Brand.Primary.primary-100};
  --semantic-light-mode-color-icon-icon-fill: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-icon-icon-background: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-icon-icon-fill-secondary: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-icon-icon-background-secondary: {Core.Surface.Light.light-120};
  --semantic-light-mode-color-icon-icon-fill-teritary: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-general-primary: {Brand.Primary.primary-100};
  --semantic-light-mode-color-general-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-general-red-amount: {Complementary.Red.red-120};
  --semantic-light-mode-color-badge-badge-background-default: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-badge-badge-background-emphasis: {Brand.Primary.primary-100};
  --semantic-light-mode-color-badge-badge-background-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-badge-badge-text: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-general-white: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-tab-tab-border-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-tab-tab-background-active: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-tab-tab-icon: {Brand.Primary.primary-100};
  --semantic-light-mode-color-tab-tab-text: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-tab-tab-text-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-tab-tab-background-inactive: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-tab-tab-chevron-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-alert-alert-background-primary: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-alert-alert-background-secondary: {Brand.Primary.primary-20};
  --semantic-light-mode-color-alert-alert-background-error: {Complementary.Red.red-20};
  --semantic-light-mode-color-alert-alert-background-success: {Complementary.Green.green-20};
  --semantic-light-mode-color-alert-alert-background-warning: {Complementary.Orange.orange-20};
  --semantic-light-mode-color-alert-alert-text-primary: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-alert-alert-icon-primary: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-alert-alert-border-primary: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-alert-alert-text-secondary: {Brand.Primary.primary-120};
  --semantic-light-mode-color-alert-alert-icon-secondary: {Brand.Primary.primary-120};
  --semantic-light-mode-color-alert-alert-text-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-alert-alert-icon-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-alert-alert-border-error: {Complementary.Red.red-100};
  --semantic-light-mode-color-alert-alert-text-success: {Complementary.Green.green-120};
  --semantic-light-mode-color-alert-alert-icon-success: {Complementary.Green.green-120};
  --semantic-light-mode-color-alert-alert-border-success: {Complementary.Green.green-100};
  --semantic-light-mode-color-alert-alert-text-warning: {Complementary.Orange.orange-120};
  --semantic-light-mode-color-alert-alert-icon-warning: {Complementary.Orange.orange-120};
  --semantic-light-mode-color-alert-alert-border-warning: {Complementary.Orange.orange-120};
  --semantic-light-mode-color-chips-chips-text: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-chips-chips-icon: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-chips-chips-background: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-tooltip-tooltip-background: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-tooltip-tooltip-border: {Brand.Primary.primary-80};
  --semantic-light-mode-color-tooltip-tooltip-text: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-stepper-stepper-border: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-stepper-stepper-icon: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-stepper-stepper-icon-active: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-stepper-stepper-icon-inactive: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-stepper-stepper-text: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-stepper-stepper-text-active: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-stepper-stepper-text-inactive: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-stepper-stepper-background: {Core.Surface.Light.light-120};
  --semantic-light-mode-color-stepper-stepper-fill-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-dropdown-dropdown-background: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-dropdown-dropdown-background-active: {Brand.Primary.primary-20};
  --semantic-light-mode-color-dropdown-dropdown-text-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-dropdown-dropdown-icon-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-dropdown-dropdown-text: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-dropdown-dropdown-icon: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-dropdown-dropdown-text-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-dropdown-dropdown-icon-disabled: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-dropdown-dropdown-border: {Core.Surface.Dark.dark-60};
  --semantic-light-mode-color-dropdown-dropdown-background-hover: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-elements-scrollbar-scroll-background: {Core.Surface.Dark.dark-20};
  --semantic-light-mode-color-elements-scrollbar-scroll-fill: {Core.Surface.Dark.dark-40};
  --semantic-light-mode-color-elements-widgets-rachunki-background-desktop: {Brand.Primary.primary-100};
  --semantic-light-mode-color-elements-widgets-rachunki-fill-shape-mobile: {Core.Surface.Light.light-60};
  --semantic-light-mode-color-elements-widgets-rachunki-background-button-mobile: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-elements-card-card-background-mobile: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-elements-expandable-table-row-expanded-background: {Brand.Primary.primary-20};
  --semantic-light-mode-color-elements-expandable-table-row-expanded-border: {Brand.Primary.primary-100};
  --semantic-light-mode-color-elements-skeleton-loader-skeleton-loader-background: {Core.Surface.Light.light-100};
  --semantic-light-mode-color-elements-pagination-pagination-text-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-elements-pagination-pagination-text-inactive: {Brand.Primary.primary-60};
  --semantic-light-mode-color-elements-pagination-pagination-background-inactive: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-elements-navigation-menu-background: {Core.Surface.Light.light-100};
  --semantic-light-mode-color-elements-navigation-menu-fill-active: {Brand.Primary.primary-100};
  --semantic-light-mode-color-elements-navigation-menu-fill-inactive: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-elements-navigation-menu-fill-inactive-mobile: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-elements-navigation-menu-icon-border: {Brand.Primary.primary-40};
  --semantic-light-mode-color-elements-navigation-menu-background-mobile: {Core.Surface.Light.light-20};
  --semantic-light-mode-color-elements-navigation-header-icon-mobile: {Brand.Primary.primary-100};
  --semantic-light-mode-color-elements-navigation-header-icon-desktop: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-elements-navigation-header-icon-background-desktop: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-elements-navigation-header-icon-background-mobile: {Brand.Primary.primary-20};
  --semantic-light-mode-color-elements-skarbonki-skarbonki-background: {Core.Surface.Light.light-60};
  --semantic-light-mode-color-elements-skarbonki-skarbonki-progress-line-fill: {Brand.Primary.primary-100};
  --semantic-light-mode-color-elements-skarbonki-skarbonki-progress-line-background: {Core.Surface.Light.light-120};
  --semantic-light-mode-color-elements-counter-counter-background: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-elements-counter-counter-line: {Brand.Primary.primary-100};
  --semantic-light-mode-color-elements-separator-separator-background: {Core.Surface.Light.light-80};
  --semantic-light-mode-color-elements-separator-separator-text: {Core.Surface.Dark.dark-80};
  --semantic-light-mode-color-elements-separator-separator-label-big: {Core.Surface.Dark.dark-100};
  --semantic-light-mode-color-elements-pomoc-box-background: {Core.Surface.Light.light-100};
  --semantic-light-mode-color-general-border: {Core.Surface.Light.light-100};
  --semantic-light-mode-color-general-screen-divider-border: {Core.Surface.Light.light-120};
}

[data-theme="dark"] {
  --core-surface-dark-dark-120: #14141c;
  --core-surface-dark-dark-100: #242537;
  --core-surface-dark-dark-80: #464860;
  --core-surface-dark-dark-60: #6d708d;
  --core-surface-dark-dark-40: #afb1c6;
  --core-surface-dark-dark-20: #dedeea;
  --brand-primary-dark-primary-120: #478ff0;
  --brand-primary-dark-primary-100: #2b7dee;
  --brand-primary-dark-primary-80: #175fc2;
  --brand-primary-dark-primary-60: #164c99;
  --brand-primary-dark-primary-40: #1b365f;
  --brand-primary-dark-primary-20: #182742;
  --complementary-green-dark-green-120: #a7eb5e;
  --complementary-green-dark-green-100: #73d52b;
  --complementary-green-dark-green-80: #4e8335;
  --complementary-green-dark-green-60: #436b35;
  --complementary-green-dark-green-40: #395436;
  --complementary-green-dark-green-20: #2e3c36;
  --complementary-red-dark-red-120: #ff6161;
  --complementary-red-dark-red-100: #ff4d4f;
  --complementary-red-dark-red-80: #c1220b;
  --complementary-red-dark-red-60: #992316;
  --complementary-red-dark-red-40: #552429;
  --complementary-red-dark-red-20: #36151b;
  --complementary-yellow-dark-yellow-120: #fddd48;
  --complementary-yellow-dark-yellow-100: #ffcc00;
  --complementary-yellow-dark-yellow-80: #d3ab0b;
  --complementary-yellow-dark-yellow-60: #a78916;
  --complementary-yellow-dark-yellow-40: #7c6821;
  --complementary-yellow-dark-yellow-20: #50462c;
  --complementary-orange-dark-orange-120: #ffa336;
  --complementary-orange-dark-orange-100: #ff8a00;
  --complementary-orange-dark-orange-80: #d3760b;
  --complementary-orange-dark-orange-60: #a76216;
  --complementary-orange-dark-orange-40: #7c4d21;
  --complementary-orange-dark-orange-20: #50392c;
  --semantic-dark-mode-color-application-background-general-background-desktop-primary: {Core.Surface.Dark.dark-120};
  --semantic-dark-mode-color-application-background-general-background-desktop-secondary: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-application-background-general-background-mobile-primary: {Core.Surface.Dark.dark-120};
  --semantic-dark-mode-color-application-background-general-background-mobile-secondary: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-button-button-background-primary: {Brand.Primary Dark.primary-60};
  --semantic-dark-mode-color-button-button-text-primary: {Core.Surface.Light.light-20};
  --semantic-dark-mode-color-button-button-border-secondary: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-button-button-text-secondary: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-button-button-background-disabled: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-button-button-text-disabled: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-button-button-border-disabled: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-button-button-background-error: {Complementary.Red.red-100};
  --semantic-dark-mode-color-button-button-text-error: {Complementary.Red Dark.red-100};
  --semantic-dark-mode-color-button-button-border-error: {Complementary.Red Dark.red-100};
  --semantic-dark-mode-color-button-button-text-link: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-form-form-icon: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-form-label-text: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-form-form-placeholder: {Core.Surface.Dark.dark-20};
  --semantic-dark-mode-color-form-form-border: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-form-form-background: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-form-form-text: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-form-form-background-disabled: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-form-form-border-disabled: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-form-form-icon-disabled: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-form-datepicker-inner-label: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-form-form-background-invalid: {Complementary.Red Dark.red-20};
  --semantic-dark-mode-color-form-text-editor-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-form-text-editor-border: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-checkbox-checkbox-border: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-checkbox-checkbox-background: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-checkbox-checkbox-fill-active: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-checkbox-checkbox-border-active: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-checkbox-checkbox-border-disabled: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-checkbox-checkbox-background-disabled: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-checkbox-checkbox-fill-disabled: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-checkbox-checkbox-text-disabled: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-checkbox-checkbox-text-unselected: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-checkbox-checkbox-text-selected: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-toggle-toggle-fill: {Core.Surface.Light.light-120};
  --semantic-dark-mode-color-toggle-toggle-background-active: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-toggle-toggle-background-inactive: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-toggle-toggle-background-disabled: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-toggle-toggle-fill-disabled: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-text-text-primary: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-text-text-secondary: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-text-text-teritary: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-text-heading-text-primary: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-text-heading-text-secondary: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-icon-icon-fill: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-icon-icon-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-icon-icon-fill-secondary: {Core.Surface.Dark.dark-20};
  --semantic-dark-mode-color-icon-icon-background-secondary: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-icon-icon-fill-teritary: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-general-primary: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-general-error: {Complementary.Red Dark.red-100};
  --semantic-dark-mode-color-general-red-amount: {Complementary.Red Dark.red-120};
  --semantic-dark-mode-color-badge-badge-background-default: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-badge-badge-background-emphasis: {Brand.Primary Dark.primary-60};
  --semantic-dark-mode-color-badge-badge-background-error: {Complementary.Red Dark.red-80};
  --semantic-dark-mode-color-badge-badge-text: {Core.Surface.Light.light-20};
  --semantic-dark-mode-color-general-white: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-tab-tab-border-active: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-tab-tab-background-active: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-tab-tab-icon: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-tab-tab-text: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-tab-tab-text-disabled: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-tab-tab-background-inactive: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-tab-tab-chevron-disabled: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-alert-alert-background-primary: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-alert-alert-background-secondary: {Brand.Primary Dark.primary-20};
  --semantic-dark-mode-color-alert-alert-background-error: {Complementary.Red Dark.red-20};
  --semantic-dark-mode-color-alert-alert-background-success: {Complementary.Green Dark.green-20};
  --semantic-dark-mode-color-alert-alert-background-warning: {Complementary.Orange Dark.orange-20};
  --semantic-dark-mode-color-alert-alert-text-primary: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-alert-alert-icon-primary: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-alert-alert-border-primary: {Core.Surface.Dark.dark-20};
  --semantic-dark-mode-color-alert-alert-text-secondary: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-alert-alert-icon-secondary: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-alert-alert-text-error: {Complementary.Red Dark.red-120};
  --semantic-dark-mode-color-alert-alert-icon-error: {Complementary.Red Dark.red-120};
  --semantic-dark-mode-color-alert-alert-border-error: {Complementary.Red Dark.red-100};
  --semantic-dark-mode-color-alert-alert-text-success: {Complementary.Green Dark.green-120};
  --semantic-dark-mode-color-alert-alert-icon-success: {Complementary.Green Dark.green-120};
  --semantic-dark-mode-color-alert-alert-border-success: {Complementary.Green Dark.green-100};
  --semantic-dark-mode-color-alert-alert-text-warning: {Complementary.Orange Dark.orange-120};
  --semantic-dark-mode-color-alert-alert-icon-warning: {Complementary.Orange Dark.orange-120};
  --semantic-dark-mode-color-alert-alert-border-warning: {Complementary.Orange Dark.orange-120};
  --semantic-dark-mode-color-chips-chips-text: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-chips-chips-icon: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-chips-chips-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-tooltip-tooltip-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-tooltip-tooltip-border: {Brand.Primary Dark.primary-80};
  --semantic-dark-mode-color-tooltip-tooltip-text: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-stepper-stepper-border: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-stepper-stepper-icon: {Core.Surface.Dark.dark-20};
  --semantic-dark-mode-color-stepper-stepper-icon-active: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-stepper-stepper-icon-inactive: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-stepper-stepper-text: {Core.Surface.Dark.dark-20};
  --semantic-dark-mode-color-stepper-stepper-text-active: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-stepper-stepper-text-inactive: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-stepper-stepper-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-stepper-stepper-fill-active: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-dropdown-dropdown-background: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-dropdown-dropdown-background-active: {Brand.Primary Dark.primary-40};
  --semantic-dark-mode-color-dropdown-dropdown-text-active: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-dropdown-dropdown-icon-active: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-dropdown-dropdown-text: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-dropdown-dropdown-icon: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-dropdown-dropdown-text-disabled: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-dropdown-dropdown-icon-disabled: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-dropdown-dropdown-border: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-dropdown-dropdown-background-hover: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-scrollbar-scroll-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-scrollbar-scroll-fill: {Core.Surface.Dark.dark-60};
  --semantic-dark-mode-color-elements-widgets-rachunki-background-desktop: {Brand.Primary Dark.primary-60};
  --semantic-dark-mode-color-elements-widgets-rachunki-fill-shape-mobile: {Core.Surface.Dark.dark-120};
  --semantic-dark-mode-color-elements-widgets-rachunki-background-button-mobile: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-card-card-background-mobile: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-expandable-table-row-expanded-background: {Brand.Primary Dark.primary-20};
  --semantic-dark-mode-color-elements-expandable-table-row-expanded-border: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-elements-skeleton-loader-skeleton-loader-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-pagination-pagination-text-active: {Brand.Primary.primary-100};
  --semantic-dark-mode-color-elements-pagination-pagination-text-inactive: {Brand.Primary.primary-40};
  --semantic-dark-mode-color-elements-pagination-pagination-background-inactive: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-navigation-menu-background: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-elements-navigation-menu-fill-active: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-elements-navigation-menu-fill-inactive: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-elements-navigation-menu-fill-inactive-mobile: {Core.Surface.Dark.dark-40};
  --semantic-dark-mode-color-elements-navigation-menu-icon-border: {Brand.Primary Dark.primary-80};
  --semantic-dark-mode-color-elements-navigation-menu-background-mobile: {Core.Surface.Dark.dark-100};
  --semantic-dark-mode-color-elements-navigation-header-icon-mobile: {Brand.Primary Dark.primary-120};
  --semantic-dark-mode-color-elements-navigation-header-icon-desktop: {Core.Surface.Dark.dark-20};
  --semantic-dark-mode-color-elements-navigation-header-icon-background-desktop: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-navigation-header-icon-background-mobile: {Brand.Primary Dark.primary-20};
  --semantic-dark-mode-color-elements-skarbonki-skarbonki-background: {Brand.Primary Dark.primary-20};
  --semantic-dark-mode-color-elements-skarbonki-skarbonki-progress-line-fill: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-elements-skarbonki-skarbonki-progress-line-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-counter-counter-background: {Brand.Primary Dark.primary-40};
  --semantic-dark-mode-color-elements-counter-counter-line: {Brand.Primary Dark.primary-100};
  --semantic-dark-mode-color-elements-separator-separator-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-elements-separator-separator-text: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-elements-separator-separator-label-big: {Core.Surface.Light.light-100};
  --semantic-dark-mode-color-elements-pomoc-box-background: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-general-border: {Core.Surface.Dark.dark-80};
  --semantic-dark-mode-color-general-screen-divider-border: {Core.Surface.Dark.dark-80};
}